################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
/Server/.vs/PracticeProject
/Server/PracticeProject/bin/Debug/net8.0
