################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
obj/
/.vs
/Debug
/Server/.vs/
/Server/Library/bin/
/Server/PracticeProject/bin/
