<table>
    <tbody>
        <tr>
            <td colspan="2">User Authentication</td>
        </tr>
        <tr>
            <td>
                User name
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                password
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" value="Login" />
            </td>
        </tr>
    </tbody>
</table>